Repository RobinCK/git-cleaner: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint . --ext .ts --fix, yamllint

.lintstagedrc.yml:

"*.{ts,json,md}":
  - prettier --write
  - git add

"*.ts":
  - eslint . --ext .ts --fix
  - git add

"*.{yaml,yml}":
  - yamllint
  - git add

Create README.md
  README.md
Due: prettier --write

fix: implemented tag, branch commands
  package.json
  src/GitClient.ts
  src/cli.ts
  src/command/branch.ts
  src/command/index.ts
  src/command/multiSelectAction.ts
  src/command/regExpAction.ts
  src/command/tag.ts
  src/exception/RegExpException.ts
  src/exception/index.ts
  src/interface/IGitResponse.ts
  src/interface/index.ts
  src/processor.ts
  src/prompt/confirmPrompt.ts
  src/prompt/index.ts
  src/prompt/remotesPrompt.ts
  src/prompt/selectPrompt.ts
  src/utils/index.ts
  src/utils/logger.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint . --ext .ts --fix

chore(release): 1.0.1 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update npmignore
  .npmignore
Due: none

chore: update readme
  README.md
Due: prettier --write

fix: filtering tags^{}
  src/GitClient.ts
Due: prettier --write, eslint . --ext .ts --fix

chore(release): 1.0.2 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 1.0.3 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write

fix: fixed regexp action
  src/command/regExpAction.ts
Due: prettier --write, eslint . --ext .ts --fix

chore(release): 1.0.4 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write

chore: update version script
  package.json
Due: prettier --write

chore(release): 1.0.5 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write

chore: added assets
  assets/gitc_branch_regexp.gif
  assets/gitc_branch_select.gif
  assets/gitc_tag_select.gif
  assets/tag-regexp.gif
Due: none

chore: renamed asset
  assets/gitc_tag_regexp.gif
Due: none

chore: updated readme
  README.md
Due: prettier --write

chore(release): 1.0.6 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write

chore: updating readme
  README.md
Due: prettier --write

feat(ci): configured ci
  .github/workflows/build.yml
Due: yamllint

chore(release): 1.0.7 :tada:
  CHANGELOG.md
  package.json
Due: prettier --write
